@keyframes fadeinmove{
    from{
        opacity:0;
        transform:  translateY(-80px)
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}

@keyframes fadeinmove2{
    from{
        opacity:0;
        transform:  translateX(80px)
    }
    to{
        opacity:1;
        transform: translateX(0);
    }

}
body{
    background-image: url(/pictures/wp7287123-4k-mountain-wallpapers.jpg);
    background-size: cover;
    background-position:bottom;
    background-attachment: fixed;
    
    display: flex;
    flex-direction: column;
    margin: 0;
}

.right-links a{
    text-decoration: none;
    color: white;
    transition: all 0.1s ease-in-out ;
    opacity: 50%;
}

.right-links a:hover{
    opacity: 100%;
}

.picture img{
    width: 450px;
    height: 300px;
    animation: fadeinmove2 1s ease-out;
}

.header{
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    margin: 25px 50px;
    font-family: sans-serif;
    color: white;
    font-size: 16px;
    margin: 0;
    backdrop-filter: blur(80px);
}

.logo{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding-left: 50px;
}

.welcome-text{
    font-size: 60px;
    color: white;
    font-weight: 1000;
}

span img{
    width: 65px;
    height: auto;
    padding-left: 50px;
}

p{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
}

.main-button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
    transition: all 0.3s ease-in-out;
}

.main-button:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}

.right-links{
    display: flex;
    gap: 20px;
    padding-right: 16px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    justify-content: center;
    gap: 100px;
    padding: 50px;
}

.left-side{
    box-sizing: border-box;
    height: 300px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    animation: fadeinmove 1s ease-out;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
}