@keyframes fadeInMove{
    from{
        opacity:0;
        transform:  translateY(20px)
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}

body{
    background-image: url(/pictures/wp7287123-4k-mountain-wallpapers.jpg);
    background-size: cover;
    background-position:bottom;
    background-attachment: fixed;
    
    display: flex;
    flex-direction: column;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

.picture img{
    width: 450px;
    height: 250px;
}

.header{
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 25px 50px;
    font-family: sans-serif;
    color: white;
    font-size: 16px;
    margin: 0;
    backdrop-filter: blur(80px);
}

.logo{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding-left: 50px;
}

span{
    color: white;
    font-size: 50px;
    font-family:serif;
    font-weight: 1000;
}

p{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
}

.main-button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
    transition: all 0.3s ease-in-out;
}

.main-button:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}

.right-links{
    display: flex;
    gap: 20px;
    padding-right: 16px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    justify-content: center;
    gap: 100px;
    backdrop-filter:  blur(10px);
    padding: 50px;
    animation: fadeInMove 1.5s ease-out;
}

.left-side{
    display: flex;
    flex-direction: column;
}

.picture{
    display: flex;
}